.artifacts
.kotlin
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/schemas
log.txt
key.txt
keystore.properties
*.jks
*.keystore
